@model Adventure.Entities.Models.Adventures

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Adventures</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EventTopic.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventTopic.Name)
        </dd>

        

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VenueId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VenueId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateModified)
        </dd>
        <dd>
  

            <div style="overflow:hidden;height:270px;width:480px;max-width:100%;max-height:100%;">
                <div id="youtube_canvas" style="height:100%;width:100%;max-width:100%">
                    <iframe style="height:100%;width:100%;max-width:100%;border:0;" frameborder="0"
                            src="http://www.youtube.com/v/@ViewBag.VideoUrl?version=3&enablejsapi=1"></iframe>
                </div>
            </div>
  
        </dd>

      

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) 
    @Html.ActionLink("Back to List", "Index")
    @Html.ActionLink(" Galery", "Index","photo")
    @Html.ActionLink("Galery", "Index", "photo", new { id = Model.Id }, null)     
</p>
