@*@model IEnumerable<Adventure.Entities.Models.Adventures>

@{
    ViewBag.Title = "Top10";
}

<h2>Top10</h2>
@{ 
    var modelOrdered = Model.OrderByDescending(adv => adv.VoteCount);
}

<table class="table">
@foreach (var item in Model)

{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EventTopic.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Performer.UserName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>



        <td>
                <div style="overflow:hidden;height:270px;width:480px;max-width:100%;max-height:100%;"><div id="youtube_canvas" style="height:100%;width:100%;max-width:100%">
                    <iframe style="height:100%;width:100%;max-width:100%;border:0;" frameborder="0"
                            src="http://www.youtube.com/v/@item.ExternalUrl?version=3&enablejsapi=1"></iframe></div></div>
            </td>
        <td>
            <img src="@item.ImgUrl" alt="Alternate Text" style="width:200px; height:200px; " />

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VenueId)
        </td>
    </tr>
}
        </table>*@







@model IEnumerable<Adventure.Entities.Models.Adventures>
<head>
    <style>
        body {
            margin: 25px;
        }

        div.polaroid {
            width: 60%;
            background-color: black;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            margin-bottom: 25px;
            margin: auto;
         
            border: 3px solid #73AD21;
            padding: 10px;
        
        }

        div.container {
            align-content:center;
            text-align: center;
            padding: 10px 20px;
        }
    </style>
</head>

@*<dl class="dl-horizontal">

    <dd>
        @Html.DisplayFor(modelItem => item.Title)
    </dd>

    <dt>
        @Html.DisplayNameFor(item => item.ImgUrl)*@
@*</dt>

        <dd>
            <img src="@item.ImgUrl" alt="Alternate Text" style="width:200px; height:200px; " />
        </dd>
    </dl>*@



    @foreach (var item in Model)
    {


        <div class="polaroid">
            <img src="@item.ImgUrl" alt="Alternate Text" style="width:200px; height:200px; " />
            <div class="container">
                @Html.DisplayFor(modelItem => item.Title)
                <br />
                @Html.ActionLink("Details", "Details", new { id = item.Id })
                
            </div>
        </div>
    }








